$header-bg-color: rgb(164, 159, 159);
$nav-text-hover: rgb(199, 199, 199);
$light-hover: rgb(220, 220, 220);
$light-hover-0:rgb(119, 100, 126);
$main-color: rgb(194, 110, 110);
$text-dark-color: rgb(86, 63, 86); 
$light-shadow-color: rgb(235, 226, 225);
$main-bg-color: rgb(192, 192, 192);

* span i {
    color: $nav-text-hover;
}

body {
    hr {
        border-bottom: 1px solid $light-hover; 
    }

    a {
        text-decoration: none;
    }

    ul {
        list-style-type: none;
    }

    // video {
    //     max-width: 99% !important;
    // }
    
    .half {
        max-width: 50%;
    }
    
    .third-four {
        max-width: 75%;
    }
    
    .tansparent {
        color: transparent;
        background-color: transparent;
        border: transparent;
    }
    .disappear {
        display: none;
    }
    
    .appear {
        display: inherit;
    }
    
    .container {
        display: flex;
        flex-direction: column;
    }
    
    .container-flex {
        display: flex;
        flex-direction: column;
    }
    
    .container-flex-col-rev {
        display: flex;
        flex-direction: column-reverse;
    }
    
    .item-flex-1 {
        flex: 1;
    }
    
    .item-flex-2 {
        flex: 2;
    }
    
    .item-flex-3 {
        flex: 3;
    }
    
    .item-flex-4 {
        flex: 4;
    }
    
    .item-flex-5 {
        flex: 5;
    }
    
    .down-5 {
        margin-top: 5px;
    }
    
    .down-10 {
        margin-top: 10px;
    }
    
    .down-15 {
        margin-top: 15px;
    }
    
    .down-20 {
        margin-top: 20px;
    }
    
    .down-25 {
        margin-top: 25px;
    }
    
    .down-35 {
        margin-top: 35px;
    }
    
    .down-50 {
        margin-top: 50px;
    }
    
    .up-2 {
        margin-top: -2px;
    }
    
    .up-3 {
        margin-top: -3px;
    }
    
    .up-5 {
        margin-top: -5px;
    }
    
    .up-10 {
        margin-top: -10px;
    }
    
    .up-15 {
        margin-top: -15px;
    }
    
    .up-20 {
        margin-top: -20px;
    }
    
    .up-25 {
        margin-top: -25px;
    }
    
    .up-35 {
        margin-top: -35px;
    }
    
    .up-50 {
        margin-top: -50px;
    }
}

@media only screen and (min-width : 820px) {
    .container, .container-flex, .container-flex-col-rev {
        flex-direction: row !important;
    }
   
}