$header-bg-color: rgb(164, 159, 159);
$nav-text-hover: rgb(199, 199, 199);
$main-color: rgb(194, 110, 110);

* span i {
    color: $nav-text-hover;
}

.container {
    display: flex;
    flex-direction: column;
}


@media only screen and (min-width : 820px) {
    .container {
        display: flex;
        flex-direction: row !important;
    }
   
}