@import 'global';

#main {
	background-color: $main-bg-color;
	color: $text-dark-color;
	min-height: 550px; 
	padding-top: 10px;
	padding-left: 13px;
	padding-right: 5%;
	padding-bottom: 10px;
	text-align: center;
}
.wrapper {
    border: 1px solid $main-color;
    .head    {
        .head-up {
            background-color: $main-color;
            color: $light-hover;
        }
        .title.collection h2 {
            float: right;
            background-color: $main-color;
            color: lightgrey;
            width:40%;
        }
    }
    .content {
        .content-aside {
            background-color: $main-color;
        }
        .content-info {

        }
    }
}

@media only screen and (min-width : 480px) {
	#main {
		padding-right: 1.8%;
    }
}

@media only screen and (min-width : 820px) {
    #main {
			padding-right: 1.5%;
    }
}