.main {
	background-color: silver;
	color: #000000;
	min-height: 550px; 
	padding-top: 5px;
	padding-left: 13px;
	padding-right: 5%;
}

@media only screen and (min-width : 480px) {
    .main {
		padding-right: 1.8%;
    }
}

@media only screen and (min-width : 820px) {
    .main {
		padding-right: 1.5%;
    }
}