extends common/layout

block head-block
	.head-up.item-flex-1 
		h2 ABOUT

block title-block
	.title.item-flex-3 TITLE

block aside-block
	.content-aside.item-flex-1 ASIDE

block main-content
	.content-info.item-flex-3 CONTENT