extends common/layout

block main-content
	.blog
		.blog-post
			img(src='./assets/images/brain.png', width='50%')
			h2 Name of the topic
			.blog-post-content 
				h5 content zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz
