extends common/layout

block main-content
	.wrapper
		.head.container-flex
			.head-up.item-flex-1 HEAD
			.title.item-flex-3 COLLECTOPNS TITLE
		.content.container-flex-col-rev
			.content-aside.item-flex-1 ASIDE
			.content-info.item-flex-3 CONTENT