extends common/layout

block main-content
	.wrapper
		.head.container-flex
			.head-up.item-flex-1 COLLECTIONS
			.title.item-flex-3
		.content.container-flex-col-rev
			.content-aside.item-flex-1
			.content-info.item-flex-3