extends common/layout

block main-content
	.wrapper-cv
		.container
			.wrapper-img.inner
				img(src="", alt="IMG")
			.wrapper-name.inner
				h2 ATANAS RAYKOV PAPUCHAROV
				h4 FRONT-END DEVELOPER
		.container.info-content
			.info.inner
				span INFO
					br
					i.fa.fa-map-marker(aria-hidden='true')
				span
					br
					i.fa.fa-phone(aria-hidden='true')
				span
					br
					i.fa.fa-envelope(aria-hidden='true')
					br
				
				span SOCIAL
					br
					i.fa.fa-skype(aria-hidden='true')
				span
					br
					i.fa.fa-facebook(aria-hidden='true')
				span
					br
					i.fa.fa-twitter(aria-hidden='true')
				span
					br
					i.fa.fa-linkedin(aria-hidden='true')
				span
					br
					i.rotate.fa.fa-link(aria-hidden='true')
			.cv-content.inner
				.education WORK EXPERIENCE
				.education EDUCATION
				.education SKILLS AND EXPERTIZE
