extends common/layout

block main-content
	.wrapper-cv
		.container
			.wrapper-img.inner
				img(src="./assets/images/me.png", alt="IMG", width="50%")
			.wrapper-name.inner
				h2 ATANAS PAPUCHAROV
				h4 WEB DEVELOPER
		.container.info-content
			.info.inner
				h2 Atanas Papucharov
				.wrapper-info
					span 
						h5
							i.fa.fa-map-marker(aria-hidden='true')
							span   Sofia Liulin 717 C 56
					span
						h5
							i.fa.fa-phone(aria-hidden='true')
							span   +359 9887 43 506
					span
						h5
							i.fa.fa-envelope(aria-hidden='true')
							span   at.papucharov@gmail.com
				.wrapper-social
					span
						a(href='')
							i.fa.fa-skype(aria-hidden='true')
					span
						a(href='')
							i.fa.fa-facebook(aria-hidden='true')
					span
						a(href='')
							i.fa.fa-twitter(aria-hidden='true')
					span
						a(href='')
							i.fa.fa-linkedin(aria-hidden='true')
			.cv-content.inner
				.paragraph 
					p WORK EXPERIENCE
				.info-data
					label(for="data") from 06/2017 to 01/2018
					h3.data SAP Labs Bulgaria
					h4 Diveloper Internship
					hr.half
					br
					label(for="data") from 10/2009 to 01/2015
					h3.data SBALO AD Sofia
					h4 Medical Physicist
					br
				.paragraph 
					p EDUCATION
				.info-data
					label(for="data") from 02/2016 to 03/2017
					h3.data Telerik Academy
					h4 Programming Student
					hr.half
					br
					label(for="data") from 09/2009 to 06/2013
					h3.data Sofia University "St. Kliment Ohridski"
					h4 Master degree of Medical Physics
					hr.half
					br
					label(for="data") from 09/2003 to 06/2009
					h3.data Sofia University "St. Kliment Ohridski"
					h4 Bachelor degree of Engineering Physics
					br
				.paragraph 
					p SKILLS AND EXPERTIZE
