extends common/layout

block main-content
	.wrapper-daily
		table
			tr
				th
				th Sunday
				th Monday
				th Tuesday
				th Wednesday
				th Thursday
				th Friday
				th Saturday
			tr
				th 07:00 - 08:00
				th
				th
				th
				th
				th
				th
			tr
				th 08:00 - 09:00
				th
				th
				th
				th
				th
				th