extends common/layout

block main-content
	.clock
	br
	.wrapper-daily
		.day Sunday
			.hour 07:00 - 07:30
				br
				a(href='') sporting
			.hour 07:30 - 09:00
				br
				a(href='') preparing
			.hour 09:00 - 12:00
				br
				a(href='') cooking
			.hour 12:00 - 13:00
				br
				a(href='') eating
			.hour 13:00 - 18:00
				br
				a(href='') preparing
			.hour 18:00 - 19:00
				br
				a(href='') sporting
			.hour 19:00 - 20:00
				br
				a(href='') eating
			.hour 20:00 - 22:00
				br
				a(href='') preparing
			.hour 22:00 - 24:00
				br
				a(href='') thinking
			.hour 24:00 - 07:00
				br
				a(href='') sleeping
		.day Monday
			.hour 07:00 - 07:30
				br
				a(href='') sporting
			.hour 07:30 - 09:00
				br
				a(href='') preparing
			.hour 09:00 - 12:00
				br
				a(href='') working
			.hour 12:00 - 13:00
				br
				a(href='') eating
			.hour 13:00 - 18:00
				br
				a(href='') working
			.hour 18:00 - 19:00
				br
				a(href='') preparing
			.hour 19:00 - 20:00
				br
				a(href='') eating
			.hour 20:00 - 22:00
				br
				a(href='') free time
			.hour 22:00 - 24:00
				br
				a(href='') thinking
			.hour 24:00 - 07:00
				br
				a(href='') sleeping
		.day Tuesday
			.hour 07:00 - 07:30
				br
				a(href='') sporting
			.hour 07:30 - 09:00
				br
				a(href='') preparing
			.hour 09:00 - 12:00
				br
				a(href='') working
			.hour 12:00 - 13:00
				br
				a(href='') eating
			.hour 13:00 - 18:00
				br
				a(href='') working
			.hour 18:00 - 19:00
				br
				a(href='') preparing
			.hour 19:00 - 20:00
				br
				a(href='') eating
			.hour 20:00 - 22:00
				br
				a(href='') free time
			.hour 22:00 - 24:00
				br
				a(href='') thinking
			.hour 24:00 - 07:00
				br
				a(href='') sleeping
		.day Wednesday
			.hour 07:00 - 07:30
				br
				a(href='') sporting
			.hour 07:30 - 09:00
				br
				a(href='') preparing
			.hour 09:00 - 12:00
				br
				a(href='') working
			.hour 12:00 - 13:00
				br
				a(href='') eating
			.hour 13:00 - 18:00
				br
				a(href='') working
			.hour 18:00 - 19:00
				br
				a(href='') preparing
			.hour 19:00 - 20:00
				br
				a(href='') eating
			.hour 20:00 - 22:00
				br
				a(href='') free time
			.hour 22:00 - 24:00
				br
				a(href='') thinking
			.hour 24:00 - 07:00
				br
				a(href='') sleeping
		.day Tursday
			.hour 07:00 - 07:30
				br
				a(href='') sporting
			.hour 07:30 - 09:00
				br
				a(href='') preparing
			.hour 09:00 - 12:00
				br
				a(href='')  working
			.hour 12:00 - 13:00
				br
				a(href='') eating
			.hour 13:00 - 18:00
				br
				a(href='') working
			.hour 18:00 - 19:00
				br
				a(href='') preparing
			.hour 19:00 - 20:00
				br
				a(href='') eating
			.hour 20:00 - 22:00
				br
				a(href='') cooking
			.hour 22:00 - 24:00
				br
				a(href='') thinking
			.hour 24:00 - 07:00
				br
				a(href='') sleeping
		.day Friday
			.hour 07:00 - 07:30
				br
				a(href='') sporting
			.hour 07:30 - 09:00
				br
				a(href='') preparing
			.hour 09:00 - 12:00
				br
				a(href='') working
			.hour 12:00 - 13:00
				br
				a(href='') eating
			.hour 13:00 - 18:00
				br
				a(href='')  working
			.hour 18:00 - 19:00
				br
				a(href='') preparing
			.hour 19:00 - 20:00
				br
				a(href='') eating
			.hour 20:00 - 22:00
				br
				a(href='') free time
			.hour 22:00 - 24:00
				br
				a(href='') thinking
			.hour 24:00 - 07:00
				br
				a(href='') sleeping
		.day Saturday
			.hour 07:00 - 07:30
				br
				a(href='') sporting
			.hour 07:30 - 09:00
				br
				a(href='') preparing
			.hour 09:00 - 12:00
				br
				a(href='') free time
			.hour 12:00 - 13:00
				br
				a(href='') eating
			.hour 13:00 - 18:00
				br
				a(href='') free time
			.hour 18:00 - 19:00
				br
				a(href='') sporting
			.hour 19:00 - 20:00
				br
				a(href='') eating
			.hour 20:00 - 22:00
				br
				a(href='') free time
			.hour 22:00 - 24:00
				br
				a(href='') thinking
			.hour 24:00 - 07:00
				br
				a(href='') sleeping