extends common/layout

block head-block
	.head-up.item-flex-1 DAILY

block title-block
	.title.item-flex-3.down-10
		.clock 00:00:00 AM
			br 
			.a Sun Jan 01 0000
		br

block aside-block
	.content-aside.item-flex-1 ASIDE

block main-content
	.content-info.item-flex-3
		.wrapper-daily
			.day.sunday Sunday
				.hour 07:00 - 07:30
					br
					a(href='') sporting
				.hour 07:30 - 09:00
					br
					a(href='') preparing
				.hour 09:00 - 12:00
					br
					a(href='') cooking
				.hour 12:00 - 13:00
					br
					a(href='') eating
				.hour 13:00 - 18:00
					br
					a(href='') preparing
				.hour 18:00 - 19:00
					br
					a(href='') sporting
				.hour 19:00 - 20:00
					br
					a(href='') eating
				.hour 20:00 - 22:00
					br
					a(href='') preparing
				.hour 22:00 - 24:00
					br
					a(href='') thinking
				.hour 24:00 - 07:00
					br
					a(href='') sleeping
			.day.monday Monday
				.hour 07:00 - 07:30
					br
					a(href='') sporting
				.hour 07:30 - 09:00
					br
					a(href='') preparing
				.hour 09:00 - 12:00
					br
					a(href='') working
				.hour 12:00 - 13:00
					br
					a(href='') eating
				.hour 13:00 - 18:00
					br
					a(href='') working
				.hour 18:00 - 19:00
					br
					a(href='') preparing
				.hour 19:00 - 20:00
					br
					a(href='') eating
				.hour 20:00 - 22:00
					br
					a(href='') free time
				.hour 22:00 - 24:00
					br
					a(href='') thinking
				.hour 24:00 - 07:00
					br
					a(href='') sleeping
			.day.tuesday Tuesday
				.hour 07:00 - 07:30
					br
					a(href='') sporting
				.hour 07:30 - 09:00
					br
					a(href='') preparing
				.hour 09:00 - 12:00
					br
					a(href='') working
				.hour 12:00 - 13:00
					br
					a(href='') eating
				.hour 13:00 - 18:00
					br
					a(href='') working
				.hour 18:00 - 19:00
					br
					a(href='') preparing
				.hour 19:00 - 20:00
					br
					a(href='') eating
				.hour 20:00 - 22:00
					br
					a(href='') free time
				.hour 22:00 - 24:00
					br
					a(href='') thinking
				.hour 24:00 - 07:00
					br
					a(href='') sleeping
			.day.wednesday Wednesday
				.hour 07:00 - 07:30
					br
					a(href='') sporting
				.hour 07:30 - 09:00
					br
					a(href='') preparing
				.hour 09:00 - 12:00
					br
					a(href='') working
				.hour 12:00 - 13:00
					br
					a(href='') eating
				.hour 13:00 - 18:00
					br
					a(href='') working
				.hour 18:00 - 19:00
					br
					a(href='') preparing
				.hour 19:00 - 20:00
					br
					a(href='') eating
				.hour 20:00 - 22:00
					br
					a(href='') free time
				.hour 22:00 - 24:00
					br
					a(href='') thinking
				.hour 24:00 - 07:00
					br
					a(href='') sleeping
			.day.tursday Thursday
				.hour 07:00 - 07:30
					br
					a(href='') sporting
				.hour 07:30 - 09:00
					br
					a(href='') preparing
				.hour 09:00 - 12:00
					br
					a(href='')  working
				.hour 12:00 - 13:00
					br
					a(href='') eating
				.hour 13:00 - 18:00
					br
					a(href='') working
				.hour 18:00 - 19:00
					br
					a(href='') preparing
				.hour 19:00 - 20:00
					br
					a(href='') eating
				.hour 20:00 - 22:00
					br
					a(href='') cooking
				.hour 22:00 - 24:00
					br
					a(href='') thinking
				.hour 24:00 - 07:00
					br
					a(href='') sleeping
			.day.friday Friday
				.hour 07:00 - 07:30
					br
					a(href='') sporting
				.hour 07:30 - 09:00
					br
					a(href='') preparing
				.hour 09:00 - 12:00
					br
					a(href='') working
				.hour 12:00 - 13:00
					br
					a(href='') eating
				.hour 13:00 - 18:00
					br
					a(href='')  working
				.hour 18:00 - 19:00
					br
					a(href='') preparing
				.hour 19:00 - 20:00
					br
					a(href='') eating
				.hour 20:00 - 22:00
					br
					a(href='') free time
				.hour 22:00 - 24:00
					br
					a(href='') thinking
				.hour 24:00 - 07:00
					br
					a(href='') sleeping
			.day.saturday Saturday
				.hour 07:00 - 07:30
					br
					a(href='') sporting
				.hour 07:30 - 09:00
					br
					a(href='') preparing
				.hour 09:00 - 12:00
					br
					a(href='') free time
				.hour 12:00 - 13:00
					br
					a(href='') eating
				.hour 13:00 - 18:00
					br
					a(href='') free time
				.hour 18:00 - 19:00
					br
					a(href='') sporting
				.hour 19:00 - 20:00
					br
					a(href='') eating
				.hour 20:00 - 22:00
					br
					a(href='') free time
				.hour 22:00 - 24:00
					br
					a(href='') thinking
				.hour 24:00 - 07:00
					br
					a(href='') sleeping