extends common/layout

block head-block
	.head-up.item-flex-1
		h2 FREE TIME

block title-block
	.title.item-flex-3 TITLE

block aside-block
	.content-aside.test-content.item-flex-1 
		ul
			li 
				a(href='#/music') MUSIC
			li 
				a(href='#/movies') MOVIES
			li 
				a(href='#/games') GAMES
			li 
				a(href='#/books') BOOKS
			li 
				a(href='#/writing') WRITING
			li 
				a(href='#/sports') SPORTS
			li 
				a(href='#/survivor') SURVIVOR

block main-content
	.content-info.item-flex-3 CONTENT