extends common/layout

block head-block
	.head-up.item-flex-1 
		h2 TESTS

block title-block
	.title.item-flex-3 
		h2 FRONT-END DEVELOPER TEST

block aside-block
	.content-aside.test-content.item-flex-1 
		ul
			li 
				a(href='') FRONT-END DEVELOPER
			li 
				a(href='') BACK-END DEVELOPER
			li 
				a(href='') JAVA DEVELOPER
			li 
				a(href='') PYTHON DEVELOPER
			li 
				a(href='') LINUX & BASH
			li 
				a(href='') ENGLISH

block main-content
	.content-info.test-content.item-flex-3 
		h2 100 questions for 180 minutes
		h4.up-15 HTML & CSS - 40 questions for 60 minutes
		h4.up-15 Java Script - 60 questions for 120 minutes
		hr