footer
  #logo
    a(href='/home')
      img(src='./assets/images/logo.png', alt='Logo', width='160px', height='65px')
    |         
  //- nav.foot
  //-   ul.menu-bar-foot
  //-     li.ab
  //-       a.menu-bar-item(href='/about') ABOUT
  //-     |                 
  //-     li.ab
  //-       a.menu-bar-item(href='/blog') BLOG
  //-     |                 
  //-     li.ab
  //-       a.menu-bar-item(href='/cvs') CV
  //-     |                 
  //-     li.ab
  //-       a.menu-bar-item(href='/collections') COLLECTIONS
  //-     |                  
  //-     li
  //-       a.menu-bar-item(href='/properties') PROPERTIES
  //-     |
  //-   |             
  //-   .menu-bar-btn-foot
  //-     button.lines-button-foot.lines
  //-       span
  //-   |