- var topics = [{'name': 'ABOUT', 'link': '/about'}, {'name': 'DAILY', 'link': '/daily'}, {'name': 'BLOG', 'link': '/blog'}, {'name': 'COLLECTIONS', 'link': '/collections'}, {'name': 'TESTS', 'link': '/tests'}, {'name': 'CV', 'link': '/cv'}, {'name': 'FREE TIME', 'link': '/freetime'}];

header
  #logo
    a(href='/home')
      img(src='./assets/images/logo.png', alt='Logo', width='160px', height='62px')
    |
  nav
    ul.menu-bar
      each topic in topics
        li.main-btn
          a.menu-bar-item(href=topic.link)=topic.name
        |
    |
    .menu-bar-btn
      span
      span
      span
    |