header
  #logo
    a(href='/home')
      img(src='./assets/images/logo.png', alt='Logo', width='160px', height='62px')
    |         
  nav
    ul.menu-bar
      li.ab
        a.menu-bar-item(href='/daily') DAILY
      |                 
      li.ab
        a.menu-bar-item(href='/blog') BLOG
      |                  
      li.ab
        a.menu-bar-item(href='/collections') COLLECTIONS
      |                 
      li.ab
        a.menu-bar-item(href='music') MUSIC
      |                 
      li.ab
        a.menu-bar-item(href='/cinema') CINEMA
      |                
      li.ab
        a.menu-bar-item(href='/writing') WRITING
      |            
      li.ab
        a.menu-bar-item(href='/tests') TESTS
      |                
      li.ab
        a.menu-bar-item(href='/cv') CV
      |              
      li.ab
        a.menu-bar-item(href='/contactme') CONTACT ME
      |
    |             
    .menu-bar-btn
      span
      span
      span
    |             