//-scripts
script(src='./resources/jquery.min.js')
script(src='./resources/toastr/toastr.min.js')
script(src='./resources/handlebars.min.js')
script(src='./resources/navigo.min.js')

script(src='./business/js/helpers/validator.js')
script(src='./business/js/helpers/notifier.js')
script(src='./business/js/helpers/storage.js')
script(src='./business/js/helpers/requester.js')
script(src='./business/js/helpers/template-loader.js')

script(src='./business/js/data.js')
script(src='./business/js/view.js')
script(src='./business/js/main.js')

script(src='./js/dom.js')
//- script(src='./bundle.js')
//- script(src='./main.js')
